* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("images/bg-intro-desktop.png");
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* Containers */

.page-description {
  width: 35%;
  margin-left: 13%;
}

/* Typography */

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1rem;
  line-height: 2;
  margin-top: 8%;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.trial-text {
  font-weight: 600;
}

/* Sign Up Form */

.form-control {
  width: 70%;
  margin: 0 auto;
}

.sign-up {
  width: 35%;
  margin-right: 13%;
}

.signup-promo {
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 11px;
}

.signup-form {
  background-color: #fff;
  border-radius: 10px;
}

.terms-and-conditions {
  color: hsl(246, 25%, 77%);
  font-size: 0.7rem;
  text-align: center;
}

a {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
  text-decoration: none;
}

/* Button */

.btn {
  background-color: hsl(154, 59%, 51%);
  font-size: 1rem;
  padding: 3%;
  width: 70%;
  margin: 3% 15% 3%;
}

/* Error Text */

.error-text {
  color: hsl(0, 100%, 74%);
  font-size: 0.7rem;
  text-align: right;
  margin: 0 15% 0;
  display: none;
}
